body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  color: #4CAF50;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  text-align: left;
  padding: 15px; /* Espacio en las celdas */
  border: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Ajuste para columnas específicas */
th:nth-child(2), td:nth-child(2) { /* RUT */
  width: 200px; /* Espacio un poco más grande */
}

th:nth-child(4), td:nth-child(4) { /* Cantidad de Excesos */
  width: 10px; /* Espacio más pequeño */
}

td:nth-child(3), th:nth-child(3) { /* Centrar la fecha */
  text-align: center;
}

td, th {
  word-wrap: break-word;
}

