table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  text-align: left;
  padding: 15px; /* Más espacio */
  border: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

th:nth-child(2), td:nth-child(2) { /* Ajuste para la columna del RUT */
  width: 150px;
}

td:nth-child(3), th:nth-child(3) { /* Ajuste para la fecha */
  text-align: center; /* Centrar la fecha */
}

td, th {
  word-wrap: break-word;
}

